SUMUP_API_KEY=
SUMUP_MERCHANT_CODE=
WOOCOMMERCE_URL=https://www.bendemen.com
WOO_CONSUMER_KEY=
WOO_CONSUMER_SECRET=
DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=bendemen_pos
SUMUP_REDIRECT_URI=https://www.bendemen.com/api/sumup/callback
SUMUP_CLIENT_ID=
SUMUP_CLIENT_SECRET=
JWT_SECRET=
WOOCOMMERCE_KEY=
WOOCOMMERCE_SECRET=
NEXT_PUBLIC_WOOCOMMERCE_URL=https://www.bendemen.com
NEXT_PUBLIC_WOOCOMMERCE_KEY=
NEXT_PUBLIC_WOOCOMMERCE_SECRET=