WOO_SITE_URL=https://www.bendemen.com
WOO_CONSUMER_KEY=ck_f9be465dc6b30c71f8617799df4b92f294c7efd9
WOO_CONSUMER_SECRET=cs_d99ed175c7ff5a435271226737bb43101be34666

DB_HOST=localhost
DB_USER=bendemen
DB_PASSWORD=Ben#de!men18
DB_NAME=bendemen_pos

SUMUP_API_KEY=sup_sk_kIJGDBzIhsUs4ZtAd5lNZJBPYsLAjV1XY

SUMUP_CLIENT_ID=NO_USE
SUMUP_CLIENT_SECRET=NO_USE
SUMUP_REDIRECT_URI=https://www.bendemen.com/api/sumup/callback


JWT_SECRET=BENDEMEN_IS_GESTART_IN_2021_BIJ_BEN_VAN_DER_LEEDEN
